/* Arrow icon */
.marka.marka-icon-arrow i {
  -webkit-transform: rotate(45deg) scale(0.55, 0.2) translate(-0.5%, -90%);
  -moz-transform: rotate(45deg) scale(0.55, 0.2) translate(-0.5%, -90%);
  -ms-transform: rotate(45deg) scale(0.55, 0.2) translate(-0.5%, -90%);
  -o-transform: rotate(45deg) scale(0.55, 0.2) translate(-0.5%, -90%);
  transform: rotate(45deg) scale(0.55, 0.2) translate(-0.5%, -90%);
}
.marka.marka-icon-arrow i:nth-child(2) {
  -webkit-transform: rotate(135deg) scale(0.55, 0.2) translate(-0.5%, 90%);
  -moz-transform: rotate(135deg) scale(0.55, 0.2) translate(-0.5%, 90%);
  -ms-transform: rotate(135deg) scale(0.55, 0.2) translate(-0.5%, 90%);
  -o-transform: rotate(135deg) scale(0.55, 0.2) translate(-0.5%, 90%);
  transform: rotate(135deg) scale(0.55, 0.2) translate(-0.5%, 90%);
}
.marka.marka-icon-arrow i:nth-child(3) {
  -webkit-transform: rotate(90deg) scale(0.6, 0.2) translate(17%, 0%);
  -moz-transform: rotate(90deg) scale(0.6, 0.2) translate(17%, 0%);
  -ms-transform: rotate(90deg) scale(0.6, 0.2) translate(17%, 0%);
  -o-transform: rotate(90deg) scale(0.6, 0.2) translate(17%, 0%);
  transform: rotate(90deg) scale(0.6, 0.2) translate(17%, 0%);
}
