/* Asterisk icon */
.marka.marka-icon-asterisk i {
  -webkit-transform: rotate(90deg) scale(0.8, 0.2);
  -moz-transform: rotate(90deg) scale(0.8, 0.2);
  -ms-transform: rotate(90deg) scale(0.8, 0.2);
  -o-transform: rotate(90deg) scale(0.8, 0.2);
  transform: rotate(90deg) scale(0.8, 0.2);
}
.marka.marka-icon-asterisk i:nth-child(2) {
  -webkit-transform: rotate(-30deg) scale(0.8, 0.2);
  -moz-transform: rotate(-30deg) scale(0.8, 0.2);
  -ms-transform: rotate(-30deg) scale(0.8, 0.2);
  -o-transform: rotate(-30deg) scale(0.8, 0.2);
  transform: rotate(-30deg) scale(0.8, 0.2);
}
.marka.marka-icon-asterisk i:nth-child(3) {
  -webkit-transform: rotate(30deg) scale(0.8, 0.2);
  -moz-transform: rotate(30deg) scale(0.8, 0.2);
  -ms-transform: rotate(30deg) scale(0.8, 0.2);
  -o-transform: rotate(30deg) scale(0.8, 0.2);
  transform: rotate(30deg) scale(0.8, 0.2);
}
