@import "../mixin.less";

/* Circle O Plus icon */
.marka.marka-icon-circle-o-plus i {
	border-radius: 0%;
    .transform(rotate(0deg) scale(0.5, 0.125));

	&:nth-child(1) {
	    border-radius: 50%;
	    .transform(scale(0.8));
	}

	&:nth-child(2) {
	    border-radius: 50%;
	    .transform(scale(0.65));
	}

	&:nth-child(3) {
		border-radius: 0%;
	    .transform(rotate(90deg) scale(0.5, 0.125));
	}
}