@import "../mixin.less";

/* Square Times icon */
.marka.marka-icon-square-times i {
    border-radius: 10%;
    .transform(scale(0.8));

	&:last-child {
		border-radius: 0%;
	    .transform(rotate(45deg) scale(0.5, 0.125));
	}

	&:nth-last-child(2) {
		border-radius: 0%;
	    .transform(rotate(-45deg) scale(0.5, 0.125));
	}
}