@import "../mixin.less";

/* Square Check icon */
.marka.marka-icon-square-check i {
    border-radius: 10%;
    .transform(scale(0.8));

	&:last-child {
		border-radius: 0%;
		.transform(rotate(-45deg) scale(0.5, 0.125) translate(7%, 35%));
	}

	&:nth-last-child(2) {
		border-radius: 0%;
	    .transform(rotate(45deg) scale(0.3, 0.125) translate(-15%, 123%));
	}

}