/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Structure
 */
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	background:#fff;
	color: #333;
	font-size:14px;
}

.clear {
	clear:both;
}

#header {
	width:100%;
	margin:0 auto;
	padding:60px 0;
	text-align:center;
	background: #ff2d00;
	background: -moz-linear-gradient(left, #ff2d00 0%, #ff8c00 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff2d00), color-stop(100%,#ff8c00));
	background: -webkit-linear-gradient(left, #ff2d00 0%,#ff8c00 100%);
	background: -o-linear-gradient(left, #ff2d00 0%,#ff8c00 100%);
	background: -ms-linear-gradient(left, #ff2d00 0%,#ff8c00 100%);
	background: linear-gradient(to right, #ff2d00 0%,#ff8c00 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2d00', endColorstr='#ff8c00',GradientType=1 );
	color:#fff;
}

#header h1 {
	font-size:50px;
}

#header p {
	padding-top:10px;
	font-style:italic;
}

#container {
  margin:40px auto 10px;
  width:540px;
}

#icon-box {
  position:relative;
  width:300px;
  height:300px;
  margin:10px 20px;
  float:left;
  border: 1px solid #ccc;
  overflow:hidden;
}

#icon {
  position:absolute;
  top:50%;
  left:50%;  
  margin:0 auto;
}

#options {
  width:180px;
  float:left;
  padding:0 5px;
}

#options label {
  font-weight:bold;
  margin:10px;
}

#code {
  margin:0 auto;
  width:500px;
  background:#333;
  border-radius:3px;
  color:#fff;
  font-family:monospace;
  padding:10px 20px;
  line-height:160%;
}

#code .italic {
  font-style:italic;
}

#code .red {
  color:#F92672;
}

#code .string {
  color: #E6DB74;
}

#code .blue {
  color: #66D9EF;
}

#list {
  width:520px;
  margin:20px auto;
  padding:10px;
}

#list h2 {
  font-size:30px;
  padding: 5px 10px;
  border-bottom:1px solid #ff8c00;
}

#list .box {
  padding:10px;
  margin-bottom:10px;
}

#list .item {
  font-size:15px;
  padding:20px 20px;
  line-height:160%;
  width:240px;
  float:left;
  border:1px solid #eee;
}

#list .icons {
  margin-right:5px;
}

#list .mono {
  font-family: monospace;
  display:inline-block;
  font-size:12px;
  background:#eee;
  border:1px solid #ccc;
  padding:0px 7px;
  border-radius:5px;
}

#docs {
  display:block;
  margin:0 auto;
  background:#ff8c00;
  color: #fff;
  text-align:center;
  padding:20px 20px;
  font-size:20px;
}

#footer {
  text-align:center;
  margin-top:50px;
  padding:10px;
}