/* Circle O Times icon */
.marka.marka-icon-circle-o-times i:nth-child(1) {
  border-radius: 50%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.marka.marka-icon-circle-o-times i:nth-child(2) {
  border-radius: 50%;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
.marka.marka-icon-circle-o-times i {
  border-radius: 0%;
  -webkit-transform: rotate(45deg) scale(0.5, 0.125);
  -moz-transform: rotate(45deg) scale(0.5, 0.125);
  -ms-transform: rotate(45deg) scale(0.5, 0.125);
  -o-transform: rotate(45deg) scale(0.5, 0.125);
  transform: rotate(45deg) scale(0.5, 0.125);
}
.marka.marka-icon-circle-o-times i:nth-child(3) {
  border-radius: 0%;
  -webkit-transform: rotate(-45deg) scale(0.5, 0.125);
  -moz-transform: rotate(-45deg) scale(0.5, 0.125);
  -ms-transform: rotate(-45deg) scale(0.5, 0.125);
  -o-transform: rotate(-45deg) scale(0.5, 0.125);
  transform: rotate(-45deg) scale(0.5, 0.125);
}
