/* Triangle icon */
.marka.marka-icon-triangle i {
  border-radius: 0% 30% 0 30%;
  -webkit-transform: rotate(-60deg) skewX(-30deg) scale(0.5, 0.433) translate(2%, -5%);
  -moz-transform: rotate(-60deg) skewX(-30deg) scale(0.5, 0.433) translate(2%, -5%);
  -ms-transform: rotate(-60deg) skewX(-30deg) scale(0.5, 0.433) translate(2%, -5%);
  -o-transform: rotate(-60deg) skewX(-30deg) scale(0.5, 0.433) translate(2%, -5%);
  transform: rotate(-60deg) skewX(-30deg) scale(0.5, 0.433) translate(2%, -5%);
}
.marka.marka-icon-triangle i:nth-child(2) {
  -webkit-transform: rotate(180deg) skewX(-30deg) scale(0.5) translate(5%, -30%);
  -moz-transform: rotate(180deg) skewX(-30deg) scale(0.5) translate(5%, -30%);
  -ms-transform: rotate(180deg) skewX(-30deg) scale(0.5) translate(5%, -30%);
  -o-transform: rotate(180deg) skewX(-30deg) scale(0.5) translate(5%, -30%);
  transform: rotate(180deg) skewX(-30deg) scale(0.5) translate(5%, -30%);
}
.marka.marka-icon-triangle i:nth-child(3) {
  -webkit-transform: rotate(90deg) skewY(-30deg) scale(0.5) translate(30%, -2%);
  -moz-transform: rotate(90deg) skewY(-30deg) scale(0.5) translate(30%, -2%);
  -ms-transform: rotate(90deg) skewY(-30deg) scale(0.5) translate(30%, -2%);
  -o-transform: rotate(90deg) skewY(-30deg) scale(0.5) translate(30%, -2%);
  transform: rotate(90deg) skewY(-30deg) scale(0.5) translate(30%, -2%);
}
