
/* Core style */
.marka {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.marka i {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000000;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.marka-set i {
    opacity: 1;
}

/* Rotation */
.marka.marka-rotate-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.marka.marka-rotate-left {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.marka.marka-rotate-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}