/* Core style */
.marka {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.marka i {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #000000;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.marka.marka-set i {
  opacity: 1;
}
.marka.marka-rotate-right {
  -webkit-transition: rotate(90deg);
  -moz-transition: rotate(90deg);
  -o-transition: rotate(90deg);
  transition: rotate(90deg);
}
.marka.marka-rotate-left {
  -webkit-transition: rotate(-90deg);
  -moz-transition: rotate(-90deg);
  -o-transition: rotate(-90deg);
  transition: rotate(-90deg);
}
.marka.marka-rotate-down {
  -webkit-transition: rotate(180deg);
  -moz-transition: rotate(180deg);
  -o-transition: rotate(180deg);
  transition: rotate(180deg);
}
